.johnClass{
    background-color: red;
    height: 45px;
    width: 200px;
}
.johnClass1{
    background-color: blue;
    height: 145px;
    width: 200px;
}
.johnClass2{
    background-color: green;
    height: 150px;
    width: 200px;
}